.franchiseContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.franchiseContainer:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.franchise-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("img/franchise/formImg.png");
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.franchise-left{
    height: 100%;
    background-size: cover;
    background-color: #D4E6F1;
}

.franchise-right{
    padding: 25px 40px;
}

.franchise-h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.franchise-h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #85C1E9;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230,230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.franchiseBtn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #5DADE2;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.franchiseBtn:hover{
    background-color: #3498DB;
}

select:invalid{
    color: gray;
}
option{
    color: black;
}

@media  screen and (max-width:880px) {
    .franchise-box{
        grid-template-columns: 1fr;
    }
    .franchise-left{
        display: none;
    }
}